<div class="dg-filter">
    <div class="left-container">
        <div class="fromPicker">
            <shared-date-picker [pickerTitle]="fromPickerText" [pickerDate]="dateForm.get('from').value" (selectedDate)="selectedFromDateEvent($event)"></shared-date-picker>
        </div>
        <div class="toPicker">
            <shared-date-picker [pickerTitle]="toPickerText" (selectedDate)="selectedToDateEvent($event)"></shared-date-picker>
        </div>
    </div>
    <div class="right-container">
        <button mat-button (click)="submitForm()">Get Report</button>
    </div>
    
</div>