<ng-container *ngIf="rows">
  <mat-form-field>
    <mat-label>Search </mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. 123">
  </mat-form-field>
  <div class="right-container">
    <button mat-button (click)="exportAsCSV()">Export as CSV</button>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="No" sticky>
      <th mat-header-cell *matHeaderCellDef class="number-css"> No. </th>
      <td mat-cell *matCellDef="let element" class="number-css"> {{element?.No}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="User Name">
      <th mat-header-cell *matHeaderCellDef class="username-css">User Name</th>
      <td mat-cell *matCellDef="let element" class="username-css"> {{element['User Name']}} </td>
    </ng-container>
  

    <!-- Weight Column -->
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef class="name-css">Name</th>
      <td mat-cell *matCellDef="let element" class="name-css"> {{element['Name']}} </td>
    </ng-container>


    <!-- Weight Column -->
    <ng-container matColumnDef="session name">
      <th mat-header-cell *matHeaderCellDef class="session_name-css">Session Name</th>
      <td mat-cell *matCellDef="let element" class="session_name-css"> {{element['session name']}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="Session Held On">
      <th mat-header-cell *matHeaderCellDef class="created_on-css"> Session Held On </th>
      <td mat-cell *matCellDef="let element" class="created_on-css"> {{element['Session Held On']}} </td>
    </ng-container>

    <ng-container matColumnDef="question id">
        <th mat-header-cell *matHeaderCellDef class="question_id-css"> Question ID </th>
        <td mat-cell *matCellDef="let element" class="question_id-css"> {{element['question id']}} </td>
      </ng-container>

      <ng-container matColumnDef="Question Text">
        <th mat-header-cell *matHeaderCellDef class="question_text-css"> Question Text </th>
        <td mat-cell *matCellDef="let element" class="question_text-css"> {{element['Question Text']}} </td>
      </ng-container>

      <ng-container matColumnDef="question uploaded">
        <th mat-header-cell *matHeaderCellDef class="question_uploaded-css"> Question Uploaded</th>
        <td mat-cell *matCellDef="let element" class="question_uploaded-css"> {{element['question uploaded']}} </td>
      </ng-container>

      <ng-container matColumnDef="Question Synced On">
        <th mat-header-cell *matHeaderCellDef class="question_uploaded_on-css"> Question Synced On </th>
        <td mat-cell *matCellDef="let element" class="question_uploaded_on-css"> {{element['Question Synced On']}} </td>
      </ng-container>

      <ng-container matColumnDef="pipeline succeeded">
        <th mat-header-cell *matHeaderCellDef class="pipeline_succeeded-css"> Pipeline Succeeded </th>
        <td mat-cell *matCellDef="let element" class="pipeline_succeeded-css"> {{element['pipeline succeeded']}} </td>
      </ng-container>

      <ng-container matColumnDef="Hindi Text">
        <th mat-header-cell *matHeaderCellDef class="s2t-css"> Hindi Text </th>
        <td mat-cell *matCellDef="let element" class="s2t-css"> {{element['Hindi Text']}} </td>
      </ng-container>

      <ng-container matColumnDef="English Text">
        <th mat-header-cell *matHeaderCellDef class="lt-css"> English Text </th>
        <td mat-cell *matCellDef="let element" class="lt-css"> {{element['English Text']}} </td>
      </ng-container>

      <ng-container matColumnDef="key phrases" stickyEnd>
        <th mat-header-cell *matHeaderCellDef class="kp-css"> Key Phrases </th>
        <td mat-cell *matCellDef="let element" class="kp-css"> {{element['key phrases']}} </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>
</ng-container>
<mat-paginator [pageSizeOptions]="[20, 30, 40, 50]" showFirstLastButtons></mat-paginator>