/* You can add global styles to this file, and also import other style files */
:root {
    --button-hover-color: #8bc95f;
    --button-hover-font-color: white;
    --button-color: white;
    --button-font-color: #929497;
    --filter-toolbar-button-color:#8bc95f; 
    --material-button-padding: 0.5rem 0.7rem;
    --material-button-font: 1.3rem;
    --materia-button-width: 100px;
    }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
