/* You can add global styles to this file, and also import other style files */
:root {
    --button-hover-color: #8bc95f;
    --button-hover-font-color: white;
    --button-color: white;
    --button-font-color: #929497;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
